@font-face {
    font-family: NotoSans-Black;
    src: url("../Sandbox/Fonts/NotoSans-Black.ttf");
}

body {
    font-family: NotoSans-Black;
    overflow: hidden;
}

#BackgroundImage {
    background-image: url("../Sandbox/Sprites/SpaceObjects/Space.png");
    z-index: -1;
    width: 200%;
    height: 200%;
    background-repeat: repeat;
    position: absolute;
    top: -50%;
    left: -50%;
    transition-duration: 0.1s;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
